.button {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-items: center;
  align-items: center;
}

.button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button {
    padding: 16px 48px;
  }
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
  padding-bottom: 20px;
  border-radius: 10px;
  width: 500px;
}

.button-wrapper {
  display: flex;
  margin-top: 30px;
  margin-right: 58px;
  justify-content: center;
  margin-bottom: 30px;
}

.main-login {
  background-image: url('../images/sean-pollock-PhYq704ffdA-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'Roboto'; 
  src: url('./fonts/Roboto\ Black.ttf') format('truetype');
}

.heading {
  font-family: 'Roboto';
  color: #0074d9;
  margin-bottom: 30px;
  text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[type="text"],
form input[type="password"] {
  width: 450px; /* Adjust the width as needed */
}

form label {
  margin-top: 10px;
}

